body {
    text-align: center;
    background: rgb(211, 189, 142);

    margin: 0;
    overflow: hidden; 
}
/* # is used to target ids in HTML */
canvas {
    background: url('./assets/grass.png');
    /* margin-left: 30px;
       margin-top: 30px; */
}
