body {
    text-align: center;
    background: rgb(235, 135, 42);
    margin: 0;
}
/* # is used to target ids in HTML */
canvas {
    background: rgb(117, 37, 197);
    /* margin-left: 30px;
       margin-top: 30px; */
}